:root {
    --gray-color: #777B7E;
    --speech-font: "Comic Sans MS", sans-serif;
}

.persona {
    margin-left: auto;
    margin-right: auto;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.speaker {
    aspect-ratio: initial;
    width: 30vw;
    min-width: 80px;
    max-width: 150px;
    float: left;
}

.speech {
    position: relative;
    padding: 25px;
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    margin-left: 50px;
    min-width: 120px;
    font-family: var(--speech-font);
    /*color: var(--gray-color);*/
}
