:root {
    --gray-color: #777B7E;
    --speech-font: "Comic Sans MS", sans-serif;
    --callout-color: #367B29;
}

.pageTitle {
    clear: left;
    text-align: center;
}


.callout-center {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: var(--callout-color);

}

.persona {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.speech {
    margin-left: 50px;
    padding: 25px;
    border: 2px solid var(--gray-color);
    font-family: var(--speech-font);
    border-radius: 10px;
    min-width: 120px;
    position: relative;
}

.speaker {
    aspect-ratio: initial;
    width: 30vw;
    min-width: 80px;
    max-width: 150px;
    float: left;
}
