:root {
    --gray-color: #888;
    --speech-font: "Comic Sans MS", sans-serif;
    --callout-color: #367B29;
    --background-color: white;

    --bubble-background: var(--background-color);
    --bubble-text-color: black;

    background-color: var(--background-color);
    font-family: "Times New Roman", serif;
}

#pageBody {
    margin: 0 5vw;
}

.pageTitle {
    clear: left;
    text-align: center;
}

.callout-center {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: var(--callout-color);
}
